<%+header%>
<h2><%:Auto Update%></h2>
<div class="cbi-map">
    <div class="cbi-map-descr"><%:Configure automatic firmware updates for your OpenWrt device%></div>
    
    <fieldset class="cbi-section">
        <legend><%:Current Version%></legend>
        <div class="cbi-section-node">
            <div class="table" style="width:100%">
                <div class="tr">
                    <div class="td left" width="33%"><%:Current Version%></div>
                    <div class="td left"><%=luci.sys.exec("cat /etc/openwrt_version")%></div>
                </div>
                <div class="tr">
                    <div class="td left" width="33%"><%:Latest Version%></div>
                    <div class="td left"><%=luci.sys.exec("cat /tmp/cloud_version 2>/dev/null")%></div>
                </div>
            </div>
        </div>
    </fieldset>
    
    <div class="cbi-page-actions right">
        <form class="inline" action="<%=url('admin/system/autoupdate/check')%>">
            <input type="submit" class="cbi-button cbi-button-apply" value="<%:Check for Updates%>"/>
        </form>
        <form class="inline" action="<%=url('admin/system/autoupdate/update')%>">
            <input type="submit" class="cbi-button cbi-button-positive" value="<%:Update Now%>"/>
        </form>
    </div>
</div>
<%+footer%>
